{% extends 'base.html' %}
{% block content %}
{% load i18n static %}

<div class="page-header" style="background: url(../../../static/assets/img/banner3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Login</h2>
          <ol class="breadcrumb">
            <li><a href="{% url 'frontend:index' %}">Home /</a></li>
            <li class="current">Login</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="login section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="m-auto col-lg-6 p-4">
        <div class="login-form login-area">
          <h3> Welcome Back !</h3>
          <div class="container text-center">
			<div class="login-data sign-in-page">
				<p><b>Your password has been set.  You may go ahead and log in now.</b></p>
				<div class="icons-login"><i class="lni-lock"></i></div>
				<p><a class="btn log-in-btn btn-danger" href="{% url 'accounts:login' %}">Login</a></p>
			</div>
		</div>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

