{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
<div style="margin: 0px auto; padding: 30px 0px; color: rgb(79, 86, 93); font-size: 13px; line-height: 20px; font-family: 'Helvetica Neue' ,Arial,sans-serif; text-align: left;">
   
      <table style="width:600px;text-align:center;background:#fff;" align="center">
        <tbody>
          <tr>
            <td style="border-bottom: 1px solid rgb(233, 237, 238); padding: 25px 0px 11px;">
              <a href="#" style="display:block; margin:0 auto;" target="_blank">
                <img src="{{ protocol }}://{{ domain }}/static/assets/images/logo.png" alt="DT" style="border: 0px;" width="42px" height="">
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:30px 0;">
              <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 16px 10px;font-weight:400;">Forgot your password?</p>
              <p style="margin:0 10px 10px 10px;padding:0;">That's okay, it happens! Click on the button below to reset your password.</p>
              <p>
                <a style="display:inline-block;text-decoration:none;padding:11px 20px;background-color:#0096ff;border:1px solid #2baaed;border-radius:3px;color:#FFF;font-weight:bold;" href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset Your Password</a>
              </p>
            </td>
          </tr>

    </tbody>
      </table>
    
  </div>
{% endblock %}

